* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../Img/bombonera-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(10px);
}

header {
  background-color: #090ABD;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 3.4rem;
}

header a {
  color: #f9fd18;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  transition: all 0.8s;
}
header a:hover {
  transform: scale(1.05);
}

header img {
  position: static;
  margin-top: 10px;
  top: 50px;
  height: 100px;
  width: 100px;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

footer {
  background-color: #090ABD;
  background-size: auto;
  font-size: 2rem;
  width: 100vw;
}

footer span a {
  color: #f9fd18;
  text-decoration: none;
}

.insta-link {
  text-decoration: none;
  color: #f9fd18;
  transition: all 0.8s;
}
.insta-link:hover {
  transform: scale(1.05);
}

.contacto-link {
  color: #000000;
  background-color: #f9fd18;
  border-radius: 30px;
  text-align: end;
  margin-left: 67vw;
  margin-right: 6vw;
  transition: all 0.8s;
}
.contacto-link:hover {
  transform: scale(1.1);
}

table {
  width: 60vw;
  margin: auto;
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  border: #090ABD solid 10px;
  border-collapse: collapse;
}

.tabla-liga {
  height: 60vh;
  overflow: scroll;
}

tr {
  cursor: pointer;
}

/* Impares */
table tr:nth-child(odd) {
  background-color: #8a8a8a;
}

table tr:nth-child(odd):hover {
  color: rgb(255, 255, 255);
  background-color: #000000;
}

/* Pares */
table tr:nth-child(even) {
  background-color: #090ABD;
}

table tr:nth-child(even):hover {
  color: rgb(255, 255, 255);
  background-color: #000000;
}

@media (max-width: 992px) {
  .tabla-liga table tr td:nth-child(n+7), .tabla-liga table tr th:nth-child(n+7) {
    display: none;
  }
}
.tabla-nombre {
  background: #000000;
}

h1,
p {
  display: flex;
  width: fit-content;
  margin-bottom: 5vh;
  margin-left: 40vw;
  justify-content: center;
  text-align: center;
  align-self: center;
  color: #ffffff;
}

h2 {
  background: rgba(0, 0, 0, 0.74);
  color: #ffffff;
  font-size: 1.4rem;
}

.fixture {
  font: size 1.5rem;
}

.lista-noticias a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #f9fd18;
  background-color: #090ABD;
}
.lista-noticias li {
  margin-top: 10px;
  margin-left: 3px;
}
.lista-noticias li .card {
  border: solid #f9fd18 3px;
  transition: all 0.8s;
}
.lista-noticias li .card:hover {
  transform: scale(1.05);
}

@media (min-width: 992px) {
  ul {
    display: flex;
  }
}
td img {
  width: 40px;
  height: 40px;
}

.posiciones-btn-int {
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  font-size: 2rem;
  align-self: center;
  justify-self: center;
  padding: 5px;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .historia-club {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(3, 33%);
    grid-auto-rows: 100px;
    grid-gap: 10px;
  }
  .historia-club .historia-boca1 {
    grid-column: 1;
    grid-row: 1;
  }
  .historia-club .foto1 {
    grid-column: 2;
    grid-row: 1;
  }
  .historia-club .historia-boca2 {
    grid-column: 1;
    grid-row: 2;
  }
  .historia-club .foto2 {
    grid-column: 2;
    grid-row: 2;
  }
  .historia-club .historia-boca3 {
    grid-column: 1;
    grid-row: 3;
  }
  .historia-club .foto3 {
    grid-column: 2;
    grid-row: 3;
  }
}

/*# sourceMappingURL=styles.css.map */
