table {
    width: 60vw;
    margin: auto;
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
    border: #090ABD solid 10px;
    border-collapse: collapse;

    & tr th,
    tr td {
        border: #000000 solid 2px;
    }
}


tr {
    cursor: pointer;
}

/* Impares */
table tr:nth-child(odd) {
    background-color: #5c5c5c;
}

table tr:nth-child(odd):hover {
    color: rgb(255, 255, 255);
    background-color: #000000;
}

/* Pares */
table tr:nth-child(even) {
    background-color: #090ABD;
}

table tr:nth-child(even):hover {
    color: rgb(255, 255, 255);
    background-color: #000000;
}

table tr th {
    background-color: #000000;
}