.tabla-nombre {
    background: #000000;
}

h1,
p {
    display: flex;
    width: fit-content;
    margin-bottom: 5vh;
    margin-left: 40vw;
    justify-content: center;
    text-align: center;
    align-self: center;
    color: #ffffff;
}

h2 {
    background: rgba(0, 0, 0, 0.74);
    color: #ffffff;
    font-size: 1.4rem;
}



.fixture {
    font: size 1.5rem;
}