td img{width: 40px;
    height: 40px;

}
.posiciones-btn-int{
    text-decoration: none;
    background-color:#f9fd18;
    color:#290088;
    width:100%;
    font-size: 2rem;
    align-self: center;
    justify-self: center;
    margin: 5vw;
    padding: 5px;
}