td img{width: 40px;
    height: 40px;

}
.posiciones-btn-int{
    text-decoration: none;
    background-color:#000000;
    color:#ffffff;
    width:100%;
    font-size: 2rem;
    align-self: center;
    justify-self: center;
    
    padding: 5px;
    margin-bottom: 10px;
}